 <div class="education-container container-block">
<h2 class="container-block-title">Formación</h2>
<div class="item">
    <h4 class="degree">C.F.P.G.S. Administración de sistemas informáticos</h4>
    <h5 class="meta">Elorrieta Erreka Mari - Bilbao</h5>
    <div class="time">2002 - 2004</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Técnico en seguridad informática</h4>
    <h5 class="meta">Centro Redox, Las Arenas</h5>
    <div class="time">2003 - 2004</div>
</div><!--//item-->
</div><!--//education-container-->