            {% if site.data.experiencias %}
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiencia profesional</h2>
                {% for experiencia in site.data.experiencias %}
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">{{ experiencia.titulo }}</h3>
                            <div class="time">{{ experiencia.periodo }}</div>
                        </div>
                        <div class="company">{{ experiencia.empresa }}</div>
                    </div>
                    <div class="details">
                        {{ experiencia.detalles }}
                    </div>
                </div>
                {% endfor %}
            </section>
            {% endif %}