            {% if site.data.proyectos %}
            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Proyectos</h2>
                <div class="intro">
                    <p>He participado en el desarrollo de los siguientes proyectos:</p>
                </div>
                {% for proyecto in site.data.proyectos %}
                <div class="item">
                    <span class="project-title">{% if proyecto.url %}<a href="{{ proyecto.url }}" target="_blank">{% endif %}{{ proyecto.nombre }}{% if proyecto.url %}</a>{% endif %}</span> - 
                    <span class="project-tagline">{{ proyecto.descripcion }}</span>
                </div>
                {% endfor %}
            </section>
            {% endif %}